<div class="container m-10">
  <div class="card m-4">
    <div class="card-header">
      Create a Survey!
    </div>
    <div class="card-body">
      <h5 class="card-title">Create a Survey!</h5>
      <p class="card-text">Design your survey with ease. Add questions, choose types, and customize your survey to gather meaningful feedback from your audience..</p>
      <a href="/create-survey" class="btn btn-primary">Create Now</a>
    </div>
  </div>
  <div class="card m-4">
    <div class="card-header">
      View Your Surveys
    </div>
    <div class="card-body">
      <h5 class="card-title">View Your Surveys</h5>
      <p class="card-text">Browse all your existing surveys in one place. Edit, manage, and analyze survey responses effortlessly.</p>
      <a href="/view-surveys" class="btn btn-primary">View Surveys</a>
    </div>
  </div>
</div>
